/* ------------------------------------------------------------------ */
/*  BASIC SETUP*/
/* ------------------------------------------------------------------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato' , 'Arial' , 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    
}

/* ------------------------------------------------------------------ */
/*  REUSABLE COMPONENTS*/
/* ------------------------------------------------------------------ */

section{
    padding: 30px 0;
}

h1,
h2,
h3
{
  
    font-weight: 300;
    text-transform:uppercase;
    letter-spacing: 1px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size:240%;
    word-spacing: 4px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}


/* ------------------------------------------------------------------ */
/*  HEADER*/
/* ------------------------------------------------------------------ */

header{
    background-image: (linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.JPG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0 , 0.2)), url(img/hero.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

nav ul {
	list-style-type: none;
	padding: 30px;
	display: flex;
	justify-content: flex-end;
}

nav  ul li {
	word-spacing: 5px;
}

nav a{
	text-decoration: none;
	text-align: right;
	padding: 10px;
	font-weight: bold;
	width: inherit;
}

nav a:hover {
	color: #fff;
}

header .banner {
	display: flex;
	margin-top: 300px;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

header .banner div {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: -180px;
	right: -40px;
	align-items: center;
	justify-content: center;
	font-family: 'Pacifico', cursive;
}

header div.banner div h1 {
	min-width: 100%;
	text-align: center;
	color: white;
	font-size: 4rem;

}

.banner span {
	color: #fff;
	font-size: 1.5rem;
	text-align: right;
}

.title {
	font-size: 1.5rem;
	padding: 20px;
}	

.myway {
	padding-bottom: 0;
}

.myway_title {
	font-weight: bold;
	padding-bottom: 5px;
}
.about_childhood {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}	

.about_childhood p{
	width: 450px;
	padding: 30px;
}

.about_backround {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}	

.about_backround p{
	width: 450px;
	text-align: right;
	padding: 30px;

}

.about_future {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}	

.about_future p{
	width: 450px;
	padding: 30px;
}

.about_future a {
	text-decoration: none;
	font-weight: bold;
}

.about_future a:hover {
	color: #e67e22;
}

.about_text {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 15px;
		grid-row-gap: 5px;
	}

.about_text article h3 {
	text-align: center;
}

.about_text article p {
	text-align: justify;
}

.icon-big{
    font-size: 450%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

li img {
	height: 200px;
	width: 100%;
}

.discovery {
	display: grid;;
	grid-template-columns: repeat(4, 1fr);
}

.map {
	display: block;
	margin: 0;
	max-width: 100%;
    height: auto;
}
.post_mark {
	position: relative;
	text-align: center;
}

fieldset {
	border: 1px solid black;
	height: 350px;
	text-align: center;
}
.post_mark img {
	position: absolute;
	top:10px;
	right: 10px;
}

.contact_form {
	position: absolute;
}

.form-control {
	width: 600px;
	background: : transparent;
	display: block;
	outline: none;
	color:#fff;
	font-size: 18px;
	margin-bottom: 16px;

}

x-star-rating{
	font-family: 'Ionicons';
	font-size: 48px;
	display: inline-flex;
	cursor: pointer;
}

x-star-rating > .star:after {
	content: '\f1df';
	color: #777;
}

x-star-rating > .star.full::after {
	content: '\f1e0';
	color: #fd0;
}

/* ------------------------------------------------------------------ */
/* FOOTER*/
/* ------------------------------------------------------------------ */

footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
    
}

.footer-nav{
    list-style: none;
    float: left;
    
}

.social-links{
    list-style: none;
    float: right;
    
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
    
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
    
}

.ion-social-facebook,
.ion-social-googleplus,
.ion-social-twitter,
.ion-social-instagram{
    transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-twitter:hover{
    color: #00aced;
}

.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}